<footer class="bg-black text-orange-600 p-4">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
    <div class="text-center md:text-left mb-2 md:mb-0">
      <p class="text-lg"> 2023 European Dynamics. All rights reserved.</p>
    </div>
    <div class="text-center md:text-right">
      <a href="#" class="text-orange-600 hover:underline px-2">Privacy Policy</a>
      <a href="#" class="text-orange-600 hover:underline px-2">Terms of Service</a>
      <a href="#" class="text-orange-600  hover:underline px-2">Contact Us</a>
    </div>
  </div>
</footer>
