<div class="text-2xl font-bold p-5 ml-2">Filters</div>
<form [formGroup]="filterForm" class="p-4 space-y-4 filter-table">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div>
      <mat-label class="text-lg">Title</mat-label>
      <mat-form-field class="w-full mt-2">
        <input matInput formControlName="title" placeholder="Enter title">
      </mat-form-field>
    </div>

    <div>
      <mat-label class="text-lg">Priority</mat-label>
      <mat-form-field class="w-full mt-2">
        <mat-select formControlName="priority" placeholder="Select priority">
          <mat-option value="Minor">Minor</mat-option>
          <mat-option value="Major">Major</mat-option>
          <mat-option value="Critical">Critical</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-label class="text-lg">Reporter</mat-label>
      <mat-form-field class="w-full mt-2">
        <mat-select formControlName="reporter" placeholder="Select reporter">
          <mat-option value="QA">QA</mat-option>
          <mat-option value="PO">PO</mat-option>
          <mat-option value="DEV">DEV</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-label class="text-lg">Date</mat-label>
      <mat-form-field class="w-full mt-2">
        <input matInput [matDatepicker]="picker" formControlName="created" placeholder="Select date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-label class="text-lg">Status</mat-label>
      <mat-form-field class="w-full mt-2">
        <mat-select formControlName="status" placeholder="Select status">
          <mat-option value="">Not Defined</mat-option>
          <mat-option value="For Review">For Review</mat-option>
          <mat-option value="Done">Done</mat-option>
          <mat-option value="Rejected">Rejected</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="flex flex-row justify-end mt-4">
    <button mat-raised-button class="filter" (click)="filter();">
      <mat-icon>filter_list_alt</mat-icon> Filter
    </button>
    <button mat-raised-button class="clear-filter ml-2" (click)="clearFilters();">
      <mat-icon>cancel</mat-icon> Clear Filters
    </button>
  </div>
</form>
