<div class="flex justify-between p-5">
  <h1 class="text-4xl">{{ newMode ? 'Create Bug' : 'Edit Bug' }}</h1>
  <div class="flex space-x-2">
    <button mat-raised-button class="mat-warn" (click)="onSubmit()">
      <mat-icon>save</mat-icon>{{ newMode ? 'Create Bug' : 'Save Bug' }}
    </button>
    <button mat-raised-button class="mat-warn" (click)="back()">
      <mat-icon>arrow_back</mat-icon>Back
    </button>
  </div>
</div>

<form [formGroup]="bugForm"  class="p-4 space-y-4">
  <div class="flex flex-wrap -mx-2">
    <div class="w-1/2 px-2">
      <mat-label class="text-xl">Title<span class="text-red-600"> *</span></mat-label>
      <mat-form-field class="w-full">
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
    </div>

    <div class="w-1/2 px-2">
      <mat-label class="text-xl">Description<span class="text-red-600"> *</span></mat-label>
      <mat-form-field class="w-full">
        <textarea matInput placeholder="Description" formControlName="description" cols="5" rows="5"></textarea>
      </mat-form-field>
    </div>

    <div class="w-1/2 px-2">
      <mat-label class="text-xl">Priority<span class="text-red-600"> *</span></mat-label>
      <mat-form-field class="w-full">
        <mat-select formControlName="priority">
          <mat-option value="Minor">Minor</mat-option>
          <mat-option value="Major">Major</mat-option>
          <mat-option value="Critical">Critical</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="w-1/2 px-2">
      <mat-label class="text-xl">Reporter<span class="text-red-600"> *</span></mat-label>
      <mat-form-field class="w-full">
        <mat-select formControlName="reporter">
          <mat-option value="QA">QA</mat-option>
          <mat-option value="PO">PO</mat-option>
          <mat-option value="DEV">DEV</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="w-1/2 px-2">
      <mat-label class="text-xl">Status<span class="text-red-600" *ngIf="!bugForm.controls['status'].valid">*</span></mat-label>
      <mat-form-field class="w-full">
        <mat-select formControlName="status">
          <mat-option value="">Not Selected</mat-option>
          <mat-option value="For Review">For Review</mat-option>
          <mat-option value="Done">Done</mat-option>
          <mat-option value="Rejected">Rejected</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>
