<div class="flex justify-between p-5">
  <div class="text-2xl font-bold ">{{ newMode ? 'Create Bug' : 'Edit Bug' }}</div>
  <div class="flex space-x-2">
    <button mat-raised-button class="button" (click)="onSubmit()">
      <mat-icon>save</mat-icon>{{ newMode ? 'Create Bug' : 'Save Bug' }}
    </button>
    <button mat-raised-button class="button" (click)="back()">
      <mat-icon>arrow_back</mat-icon>Back
    </button>
  </div>
</div>

<form [formGroup]="bugForm"  class="p-4 space-y-4 bg-gray-100">
  <div class="flex flex-wrap -mx-2">
    <div class="w-1/2 px-2">
      <mat-label class="text-xl">Title<span class="text-red-600"> *</span></mat-label>
      <mat-form-field class="w-full">
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
    </div>

    <div class="w-1/2 px-2">
      <mat-label class="text-xl">Description<span class="text-red-600"> *</span></mat-label>
      <mat-form-field class="w-full">
        <textarea matInput placeholder="Description" formControlName="description" cols="5" rows="5"></textarea>
      </mat-form-field>
    </div>

    <div class="w-1/2 px-2">
      <mat-label class="text-xl">Priority<span class="text-red-600"> *</span></mat-label>
      <mat-form-field class="w-full">
        <mat-select formControlName="priority">
          <mat-option value="Minor">Minor</mat-option>
          <mat-option value="Major">Major</mat-option>
          <mat-option value="Critical">Critical</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="w-1/2 px-2">
      <mat-label class="text-xl">Reporter<span class="text-red-600"> *</span></mat-label>
      <mat-form-field class="w-full">
        <mat-select formControlName="reporter">
          <mat-option value="QA">QA</mat-option>
          <mat-option value="PO">PO</mat-option>
          <mat-option value="DEV">DEV</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="w-1/2 px-2">
      <mat-label class="text-xl">Status<span class="text-red-600" *ngIf="!bugForm.controls['status'].valid">*</span></mat-label>
      <mat-form-field class="w-full">
        <mat-select formControlName="status">
          <mat-option value="">Not Selected</mat-option>
          <mat-option value="For Review">For Review</mat-option>
          <mat-option value="Done">Done</mat-option>
          <mat-option value="Rejected">Rejected</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>

<ng-container *ngIf="editMode">
<div class="flex justify-between p-2">
  <div class="text-2xl font-bold ">Comments</div>
  <button mat-raised-button class="button" (click)="addComment()">
    <mat-icon>add</mat-icon>Add Comment
  </button>
</div>
<form [formGroup]="bugForm" autocomplete="off" class=" p-4 space-y-4">
  <div class="flex flex-wrap -mx-2">
    <ng-container formArrayName="comments">
      <div *ngFor="let commentCtrl of comments.controls; let i = index" [formGroupName]="i" class="flex w-full comment-container">
        <div class="w-full px-2">
          <mat-label class="text-xl">Description</mat-label>
          <mat-form-field class="w-full">
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </div>
        <div class="w-full px-2">
          <mat-label class="text-xl">Name</mat-label>
          <mat-form-field class="w-full">
            <input matInput placeholder="Name" formControlName="name" >
          </mat-form-field>
        </div>
        <div class="flex justify-end w-1/3">
          <button mat-raised-button class="button mt-10" (click)="deleteComment(i)">
            <mat-icon>cancel</mat-icon>Delete
          </button>
          <button mat-raised-button class="button mt-10 ml-2" (click)="saveComment(i)">
            <mat-icon>save</mat-icon>Save
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</form>
</ng-container>


