


    <div class="mat-elevation-z2">
      <app-filter-component></app-filter-component>

      <div class="flex justify-between p-5">
        <div class="text-2xl font-bold p-3">Bugs</div>
        <button mat-raised-button class="mat-warn"  (click)="newBug()"><mat-icon>add</mat-icon> Create New Bug </button>
      </div>
      <table mat-table [dataSource]="bugs" matSort class="dark-theme-table">

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header >Title</th>
          <td mat-cell *matCellDef="let bug">{{ bug.title }}</td>
        </ng-container>

        <!-- Priority Column -->
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
          <td mat-cell *matCellDef="let bug">{{ bug.priority }}</td>
        </ng-container>

        <!-- Reporter Column -->
        <ng-container matColumnDef="reporter">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Reporter</th>
          <td mat-cell *matCellDef="let bug">{{ bug.reporter }}</td>
        </ng-container>

        <!-- Date Created Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Date Created</th>
          <td mat-cell *matCellDef="let bug">{{ bug.created |date}}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let bug">{{ bug.status }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button mat-raised-button class="mat-warn"   (click)="edit(i)"><mat-icon style="margin-right: 0;">edit</mat-icon></button>
            <button mat-raised-button class="mat-warn ml-1"  (click)="delete(i)"><mat-icon style="margin-right: 0;" >delete</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
