/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@angular/material/prebuilt-themes/indigo-pink.css';


body {
  background-color: white;
  color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.header {
  background-color: black;
  color: #f44336;
  padding: 10px;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  margin: 0;
}

html, body {
  height: 100%;
}
